__pycache__/scraper.cpython-312.pyc

node_modules/
vendor/

.env
.env.local
.env.*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
out/
target/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

**pycache**/
*.pyc
*.pyo
*.pyd
venv/
.venv/

coverage/
*.lcov

tmp/
temp/